body{
    margin: 0px;
    background-color: #243c42;
    
}
.d-none{
    /*display: none!important;
*/
}
.container{
    display: flex;
    flex-direction: column;
    height:100vh ;
}
/* Material Design */
h1,h2,h3,h4,h5,h6{
    font-family: 'Bebas Neue', cursive;
}
h1{font-size: 96px;margin: 0px;}
h2{font-size: 60px;margin: 0px;}
h3{font-size: 48px;margin: 0px;}
h4{font-size: 34px;margin: 0px;}
h5{font-size: 24px;margin: 0px;}
h6{font-size: 20px;margin: 0px;}

.subtitle1{font-size: 16px;}
.subtitle1{font-size: 14px;}
.body1{font-size: 16px;}
.body2{font-size: 14px;}
button{font-size: 14px;}
.caption{font-size: 12px;}
.nav{
    
}
.nav, .navItem{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.icon{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin: 10px;

  }
.navSubItem{
    background-color: #365a63;
    padding: 10px 5px;
    margin: auto 10px;
    height: 20px;
    
}

.navSubItem:hover{
    background-color: white;
    color:#365a63;
    cursor: pointer;
}

  @media only screen and (max-width: 600px) {
    h1{font-size: 90px;margin: 0px;}
    h2{font-size: 54px;margin: 0px;}
    h3{font-size: 42px;margin: 0px;}
    h4{font-size: 30px;margin: 0px;}
    h5{font-size: 20px;margin: 0px;}
    h6{font-size: 16px;margin: 0px;}
  }
